@charset "utf-8";
*, *::before, *::after {
  box-sizing: border-box;
}

/* ===================================== common =====================================  */

.a11y-hidden {
  position: absolute;
  top: auto;
  left: -9999em;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.clear-fix::after {
  content: '';
  display: table;
  clear: both;
}

.center-box {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

/* ===================================== wrap =====================================  */

html, 
body {
  width: auto;
  height: auto;
}

body.on {
  overflow: hidden;
}

#wrap {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border: solid #d9d9d9;
  border-width: 0 1px;
}

/* ===================================== header =====================================  */

#header {
  /* outline: 1px dashed; */
  position: relative;
  z-index: 5;
  padding: 40px 80px 0;
  background-color: #fff;
}

@media (max-width: 767px) {
  #header {
    padding: 20px 0;
    text-align: center;
  }
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.dim.on {
  display: block;
}

.logo {
  float: left;
}

@media (max-width: 767px) {
  .logo {
    float: none;
  }
}

@media (max-width: 767px) {

  .nav-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    border-top: 1px solid #d9d9d9;
    background-color: #fff;
    text-align: initial;
  }

  .nav-wrap.on {
    display: block;
  }
}

.gnb {
  float: right;
  margin-top: 18px;
}

@media (max-width: 767px) {
  .gnb {
    float: none;
    margin-top: 0;
  }
}

.gnb__item {
  float: left;
  position: relative;
} 

@media (max-width: 767px) {
  .gnb__item {    
    float: none;
    border-bottom: 1px solid #d9d9d9;
  }
}

.gnb__item:nth-child(n + 2) {
  margin-left: 80px;
}

@media (max-width: 767px) {
  .gnb__item:nth-child(n + 2) {
    margin-left: 0;
  }
}



.gnb__link {
  display: block;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .gnb__link {
    padding: 25px 0 25px 20px;
    height: auto;
    line-height: 0;
    font-size: initial;
    font-weight: normal;
  }
}

.gnb__link.on {
  border-bottom: 4px solid #b45f1a;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .gnb__item:nth-child(n + 2) {
    margin-left: 40px;
  }
}

.snb {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
}

@media (max-width: 767px) {
  .snb {
    display: none;
  }
}


.hamburger {
  display: none;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 24px;
    cursor: pointer;
    background-color: transparent;
  }

  .hamburger::before,
  .hamburger::after,
  .hamburger span {
    transition: all .25s ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
  }

  .hamburger::before,
  .hamburger::after,
  .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
  }

  .hamburger span {
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999em;
  }

  .hamburger::before {
    top: 0;
  }
  .hamburger::after {
    bottom: 0;
  }

  .hamburger.on span {
    opacity: 0;
  }

  .hamburger.on::before {
    transform: translateY(11px) rotate(-45deg);
  }

  .hamburger.on::after {
    transform: translateY(-10px) rotate(45deg);
  } 
}

/* vehicle snb */
.vehicle-list {
  /* background-color: #070505; */
  border: solid #d9d9d9;
  border-width: 1px 0;
  text-align: center;
}

.vehicle-list li {
  display: inline-block;
  padding: 20px 0;  
}

.vehicle-list li:nth-child(n + 2) {
  margin-left: 80px;
}

.top-nav {
  position: absolute;
  top: 20px;
  right: 80px;
}

.top-nav li {
  float: left;
}

.top-nav li:nth-child(n + 2) {
  margin-left: 10px;
}

.top-nav a {
  display: block;
  font-size: 12px;
}

@media (max-width: 767px) {
  .top-nav {
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f7f7f7;
    text-align: center;
  }

  .top-nav li {
    float: none;
    margin-left: 0;
  }

  .top-nav a {
    padding: 20px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
  }
}

/* ===================================== main =====================================  */

.row {
  padding: 80px;
}

.row dl, .row figure {
  width: 50%;
}

.row dl {
  float: left;
  padding: 70px 25px 0;
  /* transition: all .34s; */
}

.row dt {
  padding-bottom: 15px;
  font-size: 36px;
}

.row dd {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .row dt {
    font-size: 20px;
  }

  .row dd {
    font-size: 14px;
  }
}

.row figure {
  float: right;
  padding-left: 25px;
  padding-right: 0;
}

.row:nth-of-type(even) {
  background-color: #f7f7f7;
}

.row:nth-of-type(even) dl {
  float: right;
}

.row:nth-of-type(even) figure {
  float: left;
  padding-right: 25px;
  padding-left: 0;
}

@media (max-width: 767px) {
  .row {
    padding: 0;
    text-align: center;
  }
  .row img {
    width: 100%;
  }
  .row dl, .row figure {
    width: auto;
  }
  .row dl, .row figure, .row:nth-of-type(even) dl, .row:nth-of-type(even) figure {
    float: none;
  }
  .row dl {
    padding: 40px 0;
  }
  .row dt {
    font-size: 18px;
  }
  .row dd {
    padding: 0 20px;
    font-size: 14px;
  }
  .row figure, .row:nth-of-type(even) figure {
    padding: 0;
  }
}

.slider-wrap {
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 720px;
  background-color: #262626;
}

.slider__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);  
  transition: all .3s;
}

.slider__item.active {
  transform: translateX(0);
}

.slider__item.active ~ .slider__item {
  /* left: 100%; */
  transform: translateX(100%);
}

.slider__btn {
  position: absolute;
  right: 0;
  top: 50%;
  width: 70px;
  height: 70px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
  transition: color 0.45s ease-in-out, background-color 0.45s  ease-in-out;
}

.slider__btn:nth-of-type(1) {
  transform: translateY(calc(-50% - 35px));
  background-color: #b45f1a;
}

.slider__btn:nth-of-type(2) {
  transform: translateY(calc(-50% + 35px));
  background-color: rgba(0, 0, 0, 0.5);
}

.slider__btn:nth-of-type(1):hover,
.slider__btn:nth-of-type(2):hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 767px) {
  .slider {
    height: 660px;
  }

  .slider__btn {
    display: none;
  }
}

/* ===================================== pager ===================================== */

.pager {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.pager li {
  float: left;
  width: 20px;
  height: 20px;
  /* outline: 1px solid red; */
}

.pager li:nth-child(2) {
  margin: 0 8px;
}

.pager a {
  display: block;
  background-color: #fff;
  margin: 5px auto 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  text-indent: -9999em;
  overflow: hidden;
}

.pager .on a {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 2px solid #fff;
  background-color: transparent;
}

@media (max-width: 767px) {
  .pager-wrap {
    padding: 10px 0;
    background-color: #262626;
    text-align: center;
  }

  .pager {
    position: static;
    transform: none;
    display: inline-block;
  }
}

.poster {
  overflow: hidden;
  position: relative;
  height: 720px;
}

.poster__img img {
  height: 100%;
  object-fit: cover;
}

.poster__desc {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-480px);
  padding: 100px 70px;
  width: 500px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  line-height: 1.5;
  transition: transform .45s ease-in-out;
}

.poster__desc.on {
  transform: translateX(0);
}

.poster__desc dt {
  margin-bottom: 38px;
  padding-bottom: 18px;
  border-bottom: 1px solid #fff;
  font-size: 24px;
}

.poster__desc dt em {
  display: block;
  margin-bottom: 18px;
  font-size: 12px;
  font-weight: bold;
}

.poster__link {
  display: inline-block;
  padding: 10px 35px;
  margin-top: 38px;
  background-color: #b45f1a;
  font-size: 20px;
  color: inherit;
}

.poster__toggle,
.poster__toggle::before,
.poster__toggle::after {
  position: absolute;  
  height: 20px;
}

.poster__toggle {
  top: 50%;
  right: 5px;
  width: 12px;
  background-color: transparent;
  cursor: pointer;
}

.poster__toggle::before,
.poster__toggle::after {
  content: '';
  top: 0;
  width: 5px;
  border: 1px solid #fff;
}

.poster__toggle::before {
  left: 0;
}

.poster__toggle::after {
  right: 0;
}

@media (max-width: 767px) {
  .poster {
    height: auto;
  }
  .poster__img {
    display: block;
    height: 334px;
  }
  .poster__img img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
  .poster__desc {
    position: static;
    padding: 40px 30px 60px;
    width: auto;
    height: auto;
    background-color: #262626;
    text-align: center;
    transform: none;
  }
  .poster__link {
    width: 100%;
    font-size: 14px;
  }
  .poster__toggle {
    display: none;
  }
}

.share {
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  color: #4f4c43;
}

.share .fa-external-link {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .share {
    font-size: 14px;
  }
}

.credit {
  padding: 35px 80px;
  background-color: #f7f7f7;
  text-align: center;
  color: #b45f1a;
  line-height: 1.5;
}

.credit__item {
  /* outline: 1px dashed; */
  display: inline-block;
}

.credit__item:nth-child(n + 2) {
  margin-left: 40px;
}

.credit .fa {
  /* outline: 1px dashed; */
  float: left;
  margin-right: 10px;
  height: 90px;
  font-size: 30px;
  line-height: 90px;
}

.credit__item ul {
  margin-top: 15px;
  float: left;
  /* background: red; */
}

.credit__item li {
  line-height: 2;
}

.credit__item a {
  color: inherit;
}

.credit__time {
  color: #a9a9a9;
}

.credit__email {
  line-height: 90px;
}

@media (max-width: 767px) {
  .credit {
    padding: 35px 5.563282336578581%;
    background-color: initial;
    font-size: initial;
    line-height: 1.5;
  }
  .credit__item {
    float: none;
    width: auto;
    margin-bottom: 15px;
  }

  .credit__item:nth-child(n + 2) {
    margin-left: 0;
  }
}

/* ===================================== footer =====================================  */

.accordion {
  padding: 40px 0;
}

.accordion h3 {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 24px;
}

.accordion a {
  display: block;
  padding: 10px 0;
  color: rgba(79, 76, 67, 0.6);
}

.accordion a:hover {
  color: #b45f1a;
}

.accordion__item {
  float: left;
  width: 25%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .accordion {
    padding: 40px 20px;
  }
}

@media (max-width: 767px) {
  .accordion {
    padding: 0 20px;
    border-top: 1px solid #d9d9d9;
  }
  .accordion h3 {
    font-size: inherit;
    border-bottom-width: 0;
  }
  .accordion__item {
    float: none;
    padding-bottom: 10px;
    width: auto;
    font-size: initial;
  }
  .accordion__item ul {
    display: none;
  }
  .accordion__item.on ul {
    display: block;
  }
  .accordion__item:nth-of-type(n + 2) {
    border-top: 1px solid #d9d9d9;
  }
  .accordion a {
    padding: 8px 0 8px 25px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.footer__bar {
  padding: 10px 0;
  background-color: #000;
}

.footer__sns, .footer__tel {
  display: inline-block;
  vertical-align: middle;
}

.footer__sns {
  width: 40px;
}

.footer__copy {
  float: right;
  margin-top: 13px;
}

@media (max-width: 869px) {
  .footer__bar {
    padding: 30px 20px;
    text-align: center;
  }
  .footer__tel, .footer__tel *, .footer__copy * {
    display: block;
  }
  .footer__tel {
    margin-top: 20px;
    padding: 20px;
    border: solid rgba(255, 255, 255, .6);
    border-width: 1px 0;
  }
  .footer__tel a:first-child {
    margin-bottom: 15px;
  }
  .footer__copy {
    float: none;
  }
  .footer__copy a {
    margin-top: 20px;
  }
}