@mixin debugger($color: red) {
    outline: 1px dashed $color;
}

@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}

@mixin background($file, $pos: center top, $repeat: no-repeat, $color: null) {
    background: $color url($file) $repeat $pos;
}
