*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
figure,
h1, h2, h3,
ul {
  margin: 0;
  padding: 0;
}

input,
span,
a,
img { vertical-align: top; }

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  line-height: 1;
}