$width-max: 72rem;
$width-content-wrap: 64rem;

$loc: '../images/';

$font: 'Apple SD Gothic Neo','Nanum Barun Gothic','Malgun Gothic', sans-serif;

// 주제 클래스명
$subject-tit: ( 'FRIEND', 'EXERCISE', 'TREND', 'FAMILY', 'MUSIC', 'FOOD', 'MOVIE', 'COMPANY', 'REST' );